<template>
  <div>
    <div class="container">
      <div class="wrap">
        <div class="header">{{ appName }}</div>
        <hr />
        <div class="main">
          <form :action="formAction" method="post">
            <input type="text" name="username" id="username" placeholder="Username" />
            <input type="password" name="password" id="password" placeholder="Password" />
            <input type="button" value="Sign Up / Log In" />
          </form>
        </div>
        <div class="footer">{{signupMessage}}</div>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from "~/components/Logo.vue";

export default {
  data() {
    return {
      appName: "Chat App",
      formAction: "http://localhost:3000/api/signup",
      signupMessage:
        "By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use. Others will be able to find you by searching for your email address or phone number when provided."
    };
  },
  head() {
    return {
      script: [
        {
          src:
            "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"
        }
      ],
      link: [
        {
          rel: "stylesheet",
          href: "https://fonts.googleapis.com/css?family=Roboto&display=swap"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
$msgColor: #89e307;
$btnColor: #000000;
$btnColor2: #89e307;
$inputBgColor: #f4f8fb;
$inputTextColor: #647787;
$mainTextColor: #697c8a;

.container {
  margin: 0 auto;
  /* min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
  font-family: Roboto, sans-serif;
  color: $mainTextColor;
}

input {
  width: 100%;
}

input[type="text"],
input[type="password"] {
  background-color: $inputBgColor;
  height: 35px;
  font-size: 16px;
  margin-bottom: 20px;
  border: #cdd6dd;
  padding-left: 10px;
}

input[type="button"] {
  font-size: 20px;
  background-color: $btnColor2;
  height: 35px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  border: #cdd6dd;
  color: white;
}

.wrap {
  width: 480px;
  margin: 0 auto;
}
.header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  color: black;
}

hr {
  margin-bottom: 25px;
  color: #cdd6dd;
}
</style>
