<template>
  <div>
    <div class="container">
      <div class="wrap">
        <div class="header">
          {{ appName }}
          <a class="logout" href="http://localhost:3000/api/logout">Log Out</a>
        </div>
        <hr />
        <div class="main">
          <div v-for="(item, index) in messages" :key="item.id">{{ item.msg }}</div>
        </div>
        <div class="footer">
          <input type="text" name="message" id="message" placeholder="Start a new message" />
          <input class="send" type="button" value="Send" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from "~/components/Logo.vue";

export default {
  data() {
    return {
      appName: "Chat App",
      formAction: "http://localhost:3000/api/signup",
      signupMessage:
        "By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use. Others will be able to find you by searching for your email address or phone number when provided.",
      messages: [
        {
          id: 1,
          user: "Andrew",
          msg: "Hey Ace, are you done with your the Exams?",
          datetime: "2019-08-01 10:10:10"
        },
        {
          id: 2,
          user: "Ace",
          msg: "I'm just finishing up. It will be done in a couple of hours",
          datetime: "2019-08-01 10:10:10"
        },
        {
          id: 3,
          user: "Ella",
          msg: "Good luck Ace. You can do it!",
          datetime: "2019-08-01 10:10:10"
        },
        {
          id: 4,
          user: "Ace",
          msg:
            "Thanks Ella. Hoping that I will be accepted in your awesome company. :-)",
          datetime: "2019-08-01 10:10:10"
        },
        {
          id: 5,
          user: "Ace",
          msg:
            "Hey Andrew, I just pushed my last commit ending the exam. Can you please check my work. Thanks.",
          datetime: "2019-08-01 10:10:10"
        },
        {
          id: 6,
          user: "Andrew",
          msg: "So I saw your exam and I would like to say that... ",
          datetime: "2019-08-01 10:10:10"
        },
        {
          id: 7,
          user: "Andrew",
          msg:
            "You did great Ace! We would like to welcome you here at LIG Philippines! Congratulations",
          datetime: "2019-08-01 10:10:10"
        },
        {
          id: 7,
          user: "Ace",
          msg: "Thank You!",
          datetime: "2019-08-01 10:10:10"
        }
      ]
    };
  },
  head() {
    return {
      script: [
        {
          src:
            "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"
        }
      ],
      link: [
        {
          rel: "stylesheet",
          href: "https://fonts.googleapis.com/css?family=Roboto&display=swap"
        }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
$msgColor: #89e307;
$btnColor: #666666;
$btnColor2: #89e307;
$inputBgColor: #f4f8fb;
$inputTextColor: #647787;
$mainTextColor: #697c8a;

.container {
  margin: 0 auto;
  /* min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
  font-family: Roboto, sans-serif;
}

.logout,
.send {
  border-radius: 5px;
}

input[type="text"],
input[type="password"] {
  background-color: $inputBgColor;
  height: 35px;
  font-size: 16px;
  margin-bottom: 20px;
  border: #cdd6dd;
  padding-left: 10px;
}

input[type="button"] {
  font-size: 20px;
  background-color: $btnColor2;
  height: 35px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  border: #cdd6dd;
  color: white;
}

.wrap {
  width: 480px;
  margin: 0 auto;
}
.header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  position: relative;
}
.logout {
  position: absolute;
  font-size: 12px;
  text-decoration: none;
  background-color: $btnColor;
  color: white;
  padding: 4px 8px;
  top: 1px;
  right: 5px;
}

hr {
  margin-bottom: 25px;
  color: #cdd6dd;
}

.footer {
  display: flex;
  align-items: stretch;
  padding-top: 5px;
  border-top: 1px solid #cdd6dd;
}

.footer input[type="text"] {
  width: 70%;
}

.footer .send {
  width: 100px;
}
</style>
